.container {
  padding: 35px 20px;
  text-align: center;
}

.text {
  font-size: 18px;
  font-weight: 600;
}

.input {
  display: block;
  width: 450px;
  padding: 10px 10px;
  border: 1px solid #ad865a;
  border-radius: 8px;
  margin: 0 auto;
}
