.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 200px;
  height: 160px;
  padding: 16px;
  border: 1px solid #ad865a;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.icon {
  margin-right: 8px;
}

.name {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 12px;
}

.button {
  display: block;

  width: 45px;
  padding: 6px 4px;
  border: 1px solid #c66a61;
  border-radius: 15px;

  background-color: #d88f86;
  transform: translate(278%);
  transition: background-color 250ms ease-in;
}

.button:hover,
.button:focus {
  background-color: #c66a61;
}
