.container {
  display: flex;
  gap: 36px;
}

.link {
  font-size: 18px;
  padding: 2px 16px;
  border-radius: 15px;
  color: #483723;
  transition: border 250ms ease-in, background-color 250ms ease-in, color 250ms ease-in;
}

.isActive {
  color: #242424;
  background-color: #cfb599;
  border: 1px solid #ad865a;
}

.isActive:hover,
.isActive:focus {
  background-color: #be9d79;
}
